*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  transition: font-size 0.05s;
  @include media-max(560px) {
    font-size: 50%;
  }
  // background-color: black;
}

body {
  position: relative;
  background-color: $color-violet-darkest;
  font-family: $font-secondary;
  color: $color-white;
  font-size: 1.6rem;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.container {
  max-width: 114rem;
  width: 100%;
  padding: 0 4rem;
  margin: 0 auto;
  // background-color: $color-violet-darkest;
}
