@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.heading-primary {
  font-size: 7rem;
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.1;
  text-shadow: $text-shadow;
  text-align: center;
  transition: font-size 0.05s;
  margin-bottom: 1.8rem;

  @include media-max(860px) {
    font-size: 6rem;
  }

  span {
    white-space: nowrap;
  }
}

.heading-secondary {
  font-size: 5rem;
  font-family: $font-bebas;
  font-weight: 400;
  text-align: center;
  margin-bottom: 3rem;
  line-height: 1;
}

.heading-tertiary {
  font-size: 2.4rem;
  margin-bottom: 1.4rem;
}
