@mixin media-max($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin icon-solid($fill) {
  // fill: $fill;
  transition: fill 0.2s, scale 0.1s;

  &:hover {
    fill: $fill;
    scale: 0.98;
  }
  &:active {
    fill: darken($fill, 15%);
    scale: 0.96;
  }
}
