.for-industry-page {
  .banner {
    @include banner-background-image('/images/seated-group-photo-2-min.jpg', $color-brand-yellow-darker);
    height: 30rem;
    background-size: cover;
    background-position: 50% 25%;
    background-attachment: fixed;
  }

  .section--virtual-portfolio-reviews,
  .section--virtual-mock-interviews {

    .paragraphs {
      text-align: center;
      margin-bottom: 3rem;
      font-size: max(1.8rem, 16px);
    }

    .event-boxes {
      display: flex;
      flex-wrap: wrap;
      // grid-template-columns: 1fr 1fr;
      justify-content: space-evenly;
      column-gap: 6rem;
      row-gap: 3rem;
    }
  }

  .section--virtual-portfolio-reviews {
    @include section-color($color-violet-dark);
    @include full-bleed;
  }
  .section--virtual-mock-interviews {
    @include section-color($color-violet-darkest);
    @include full-bleed;
  }

}
