.home-page {
  .banner {
    @include banner-background-image('/images/seated-group-photo-2-min.jpg', $color-brand-green-darker);
    background-size: cover;
    background-position: 50% 25%;
    background-attachment: fixed;
  }

  .section.section--introduction {
    // @include section-color($color-violet-darkest);
    // @include full-bleed;
  }

  .section--virtual-professionalism-workshops,
  .section--virtual-portfolio-reviews,
  .section--virtual-mock-interviews,
  .section--industry-fair {
    .event-boxes {
      display: flex;
      flex-wrap: wrap;
      // grid-template-columns: 1fr 1fr;
      justify-content: space-evenly;
      column-gap: 6rem;
      row-gap: 3rem;
    }
  }

  .section--virtual-professionalism-workshops {
    @include section-color($color-violet-darkest);
    @include full-bleed;
  }

  .section--virtual-portfolio-reviews {
    @include section-color($color-violet-dark);
    @include full-bleed;
  }

  .section--virtual-mock-interviews {
    @include section-color($color-violet-darkest);
    @include full-bleed;
  }

  .section--industry-fair {
    @include section-color($color-violet-dark);
    @include full-bleed;
  }

  .section.section--cta {
    display: grid;

    .cta-text {
      margin-bottom: 3rem;
    }

    .registration-buttons {
      margin: 0 auto;

      display: flex;
      justify-content: center;
      gap: 3rem 6rem;
      flex-wrap: wrap;

      .registration-button {
        text-decoration: none;
        @include button-solid($color-brand-green, false);
        padding: 1rem 2rem;
        font-family: $font-bebas;
        font-size: max(2rem, 18px);
        // TODO: Add drop-shadow
  
        &:link,
        &:visited {
          // color: $color-gray-lightest;
          color: $color-black;
        }

        &--yellow { @include button-solid($color-brand-yellow); }
        &--red { @include button-solid($color-brand-red-light); }
      }
    }
  }
}
