.vif-committee-page {
  .banner {
    @include banner-background-image('/images/seated-group-photo-2-min.jpg', $color-brand-yellow-darker);
    height: 30rem;
    background-size: cover;
    background-position: 50% 25%;
    background-attachment: fixed;
  }

  .section {
    &--vif-committee-members {
      @include full-bleed;

      .container {
        // @include full-bleed;
        @include media-max(425px) {
          @include full-bleed;
          padding-left: 2.4rem;
          padding-right: 2.4rem;
        }
      }
    }
  }

  .committee-list {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    justify-items: center;
    gap: 4rem;

    @include media-max(425px) {
      display: flex;
      flex-direction: column;
    }
  }
}
