.committee-block {
  $fill-color: var(--fill-color);
  $fill-color-hover: var(--fill-color-hover);
  $fill-color-active: var(--fill-color-active);
  $border-color: var(--border-color);
  // max-width: 50rem;

  &--yellow {
    --fill-color: #{rgba(darken($color-brand-yellow-darker, 18%), 0.85)};
    --fill-color-hover: #{rgba(darken($color-brand-yellow-darker, 10%), 1)};
    --fill-color-active: #{rgba(darken($color-brand-yellow-darker, 14%), 1)};
    --border-color: #{lighten($color-brand-yellow-darker, 10%)};
  }

  &--red {
    --fill-color: #{rgba(darken($color-brand-red-darker, 8%), 0.85)};
    --fill-color-hover: #{rgba(darken($color-brand-red-darker, 0%), 1)};
    --fill-color-active: #{rgba(darken($color-brand-red-darker, 4%), 1)};
    --border-color: #{lighten($color-brand-red-darker, 30%)};
  }

  &--green {
    --fill-color: #{rgba(darken($color-brand-green-darker, 13%), 0.85)};
    --fill-color-hover: #{rgba(darken($color-brand-green-darker, 5%), 1)};
    --fill-color-active: #{rgba(darken($color-brand-green-darker, 9%), 1)};
    --border-color: #{lighten($color-brand-green-darker, 16%)};
  }

  &--purple {
    --fill-color: #{rgba(darken($color-violet, 30%), 0.85)};
    --fill-color-hover: #{rgba(darken($color-violet, 22%), 1)};
    --fill-color-active: #{rgba(darken($color-violet, 26%), 1)};
    --border-color: #{lighten($color-violet, 16%)};
  }

  &__header,
  &__description,
  &__header .committee-block__photo-container {
    border: 2px solid $border-color;
  }

  &__header {
    position: relative;
    width: 100%;
    padding: 1.6rem 3rem;
    padding-right: 2rem;
    background-color: $fill-color;
    transition: background-color 0.1s;

    display: grid;
    grid-template-areas: "photo title"
                         "photo socials";
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    // align-items: center;

    // &:hover {
    //   background-color: $fill-color-hover;
    // }

    // &:active {
    //   background-color: $fill-color-active;
    // }
  }

    .committee-block__photo-container {
      grid-area: photo;
      width: 10rem;
      height: 10rem;

      .committee-block__photo {
        display: inline-block;
        width: 100%;
        object-fit: fill;
      }
    }

    .committee-block__title {
      grid-area: title;
      align-self: start;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      .committee-block__name {
        margin-bottom: 0;
        font-size: max(2rem, 18px);
      }

      .committee-block__role {

      }
    }

    .committee-block__socials {
      grid-area: socials;
      align-self: end;
      display: flex;
      gap: 1rem;

      .committee-block__social-link {
        width: 3rem;
        height: 3rem;
        background-color: white;
      }
    }

  &__description {
    width: 100%;
    padding: 1.6rem 3rem;
    border-top: none;
    background-color: rgba($color-black, 0.3);
  }
}

