.event-box {
  border: 2px solid $color-gray-lightest;
  padding: 2rem;
  min-width: 40rem;
  max-width: 50rem;

  .heading-tertiary {
    margin-bottom: 1.8rem;
  }

  .dates-list {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
