.question-box {
  &__header {
    width: 100%;
    padding: 1.6rem 3rem;
    background-color: rgba(darken($color-brand-red-darker, 7%), 0.85);
    border: 2px solid lighten($color-brand-red-darker, 10%);

    display: flex;
    align-items: center;

    .question-box__question {
      margin-bottom: 0;
      font-size: max(2rem, 18px);
    }
  }

  &__answer {
    width: 100%;
    padding: 1.6rem 3rem;
    background-color: rgba(darken($color-brand-red-darker, 7%), 0.85);
    border: 2px solid lighten($color-brand-red-darker, 10%);
    border-top: none;
  }
}
