.timetable {
  position: relative;
  overflow: auto;
  overscroll-behavior: contain;
  width: max-content;
  max-width: 100%;
  max-height: 70vh;
  border: 2px solid $color-gray-lightest;

  @include media-max(1024px) {
    overscroll-behavior: unset;
  }
  
  &__row {
    position: relative;
    width: max-content;
    min-height: 6rem;
    
    display: flex;

    // row underline
    &:not(:last-child) {
      .cell {
        border-bottom: 1.5px solid $color-gray-lightest;
      }
    }

    &:first-child {
      position: sticky;
      height: unset;
      z-index: 2;
      top: 0;
      left: 0;
      font-weight: bold;
      border-bottom: 2px solid $color-gray-lightest;
      box-shadow: 0 2px 10px rgba($color-black, 0.3);

      .cell {
        background-color: $color-violet;

        &:first-child {
          z-index: 2;
          font-size: max(2rem, 18px);
        }

        &:not(:first-child) {
          span {
            position: relative;
            background-color: $color-violet;
            display: inline-block;
            translate: -50%;
            padding: 0.5px;

            &::after {
              @include pseudo-elem-cover; // height: 100% is more than enough to cover dashes
              top: -100%;
              background-color: $color-violet;
            }
          }
        }

        &:nth-last-child(2) {
          position: unset;
          width: 0;
        }

        &--spacer {
          background-color: $color-violet;
        }
      }
    }

    .cell {
      background-color: $color-violet-dark;
      width: 7rem;
      flex: 0 0 auto;

      display: flex;
      align-items: center;
      
      &:not(:last-child) {
        border-right: 1px dashed $color-gray-lightest;
      }

      &--filled,
      &--empty {
        user-select: none;
        cursor: move;
      }

      &--filled {
        background-color: $color-brand-green;

        @supports selector(:has(*)) {
          &:has(+ .cell--filled) {
            border-right: 1px solid $color-brand-green;
          }
        }
      }

      &:first-child {
        position: sticky;
        left: 0;
        top: 0;
        width: 20rem;
        padding: 1rem 2rem;
        border-right: 2px solid $color-gray-lightest;
        box-shadow: 2px 0 10px rgba($color-black, 0.3);
      }

      &--spacer {
        width: 30px;
        background-color: $color-black;
      };
    }
  }
}
