.timetable {
  position: relative;
  overflow: auto;
  width: max-content;
  max-width: 650px;
  max-height: 250px;
  border: 2px solid black;
  
  &__row {
    position: relative;
    background-color: lightgray;
    width: max-content;
    
    display: flex;

    &:not(:last-child) {
      border-bottom: 1px solid black;
    }

    &:first-child {
      position: sticky;
      z-index: 2;
      top: 0;
      left: 0;
      border-bottom: 2px solid black !important;
    }

    .cell {
      background-color: yellow;
      flex: 0 0 auto;
      width: 100px;
      height: 100px;
      
      &:not(:last-child) {
        border-right: 1px dashed black;
      }

      &--1 {
        position: sticky;
        left: 0;
        top: 0;
        background-color: cyan;
        border-right: 2px solid black !important;
      }
    }
  }
}
