.footer {
  height: 5rem;
  background-color: $color-violet-dark;

  display: grid;
  place-content: center;

  &__links {
    list-style: none;

    display: flex;
    gap: min(12rem, 10vw);
  }

  &__link {
    display: grid;
    place-content: center;
  }

  &__icon {
    height: 3.1rem;
    fill: $color-white;
  }
}
