.navbar {
  --nav-height: 8rem;
  $nav-height: var(--nav-height);

  z-index: 1;
  height: $nav-height;
  margin-bottom: calc($nav-height * -1);
  transition: all 0.2s;

  &:not(.navbar--sticky) {
    background-color: transparent;
    border-bottom: 1px solid transparent;
    backdrop-filter: blur(0);
    box-shadow: 0 2px 10px transparent;
  }

  &.navbar--sticky {
    --nav-height: 6rem;
    position: sticky;
    top: 0;
    border-bottom: 1px solid $color-gray-light;
    background-color: rgba($color-violet-darkest, 0.7);
    backdrop-filter: blur(1.5px);
    box-shadow: 0 2px 10px rgba(black, 0.7);
  }

  display: flex;
  align-items: center;
  padding: 1rem 4rem;

  .logo-container {
    display: grid;
    place-content: center;

    .vif-logo-mark,
    .vif-logo-wide {
      height: 4rem;
    }

    // .vif-logo-mark {
      
    // }

    // .vif-logo-wide {

    // }
  }
}
